$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/*my stuff*/

ul {
  padding:0 0 0 0;
  margin:0 0 0 0;
}
ul li {
  list-style:none;
  margin-bottom:25px;
}
ul li img {
  cursor: pointer;
  border: solid black 1px;
  height: 100%;
  width: 100%;
}

@font-face {
    font-family: Bira;
    src: url(../assets/fonts/bira/Bira_PERSONAL_USE_ONLY.ttf);
    font-weight:200; /*weight TBD*/
}
.bira {
  font-family: Bira, Helvetica, Arial, sans-serif;
}

.attraction {
  font-size: 72px;

}

.city {
  font-size: 46px;

}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

html,body {
  background-color: #000000;
  height: 100%;
  color: #FFF;
}

.whole-box {
  text-align: center;
}

.height50 {
  height:50%;
}

.height100 {
  height:100%;
}

.width50 {
  width:50%;
}

.width100 {
  width:100%;
}

.nmnp {
  margin: 0 auto;
  padding: 0;
}

#photo_1 {
    position: absolute;
    right:0px;
    bottom:0px;
}

#photo_2 {
    position: absolute;
    left:0px;
    bottom:0px;
}

#photo_3 {
    position: absolute;
    right:0px;
    top:0px;
}

#photo_4 {
    position: absolute;
    left:0px;
    top:0px;
}



#imageRow img:hover {
  cursor: url('http://www.snazzyspace.com/cursorsfolder/mickey-thumbs-up.png'), auto !important;
}

td>span:hover {
  cursor: url('http://www.snazzyspace.com/cursorsfolder/mickey-thumbs-up.png'), auto !important;
}


#footer {
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 100%;
  height: 60px;
  text-align: center;
}

#footer-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
}

#footer-modal {
  border: white solid 5px;
  border-radius: 10px;
  background-color: black;
  position: absolute;
  bottom: 45px;
  padding-top: 15px;
  padding-bottom: 15px;
}



#dashboard {
  text-align: left;
  th, tr, td{
    border:1px solid white;
    background-color: black;
  }
  input {
    border:1px solid white;
    background-color: #333;
  }
}

.link {
  color:white;
  text-decoration: none;
  background-color: none;
}


.pacifico_l {
  font-family: 'Pacifico', cursive;
  font-size: 80px;
}

.pacifico_m {
  font-family: 'Pacifico', cursive;
  font-size: 65px;
}

.pacifico_s {
  font-family: 'Pacifico', cursive;
  font-size: 50px;
}

.nixie_l {
  font-family: 'Nixie One', cursive;
  font-size: 34px;

}

.nixie_m {
  font-family: 'Nixie One', cursive;
  font-size: 24px;
}

.nixie_s {
  font-family: 'Nixie One', cursive;
  font-size: 12px;
}

.grow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.grow:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.warning {
  color: red;
}

/*#2A6496*/

.btn-custom {
  background-color: hsl(195, 60%, 35%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2d95b7", endColorstr="#2A6496");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#2d95b7), to(#2A6496));
  background-image: -moz-linear-gradient(top, #2d95b7, #2A6496);
  background-image: -ms-linear-gradient(top, #2d95b7, #2A6496);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2d95b7), color-stop(100%, #2A6496));
  background-image: -webkit-linear-gradient(top, #2d95b7, #2A6496);
  background-image: -o-linear-gradient(top, #2d95b7, #2A6496);
  background-image: linear-gradient(#2d95b7, #2A6496);
  border-color: #2A6496 #2A6496 hsl(195, 60%, 32.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
}

.stars {
  display:inline-block;
}