<div class="col-sm-7 photo-box nmnp">
  <div class="height100 width100">
    <div class="row width100 height50 nmnp" id="imageRow">
      <div class="col-xs-6 height100 nmnp">
        <img src="/../../assets/images/golden_gate_bridge.png" id="photo_1" ng-click="newPage()" ng-hide="viewed">
        <img ng-click="vote(page, photo.url)" ng-src="{{page.photos.photoArray[0].url}}" id="photo_1" ng-show="viewed">
      </div>

      <div class="col-xs-6 height100 nmnp">
        <img src="/../../assets/images/big_ben.png" id="photo_2" ng-click="newPage()" ng-hide="viewed">
        <img ng-click="vote(page, photo.url)" ng-src="{{page.photos.photoArray[1].url}}" id="photo_2" ng-show="viewed">
      </div>
    </div>
    <div class="row width100 height50 nmnp" id="imageRow">
      <div class="col-xs-6 height100 nmnp">
        <img src="/../../assets/images/empire_state_building.png" id="photo_3" ng-click="newPage()" ng-hide="viewed">
        <img ng-click="vote(page, photo.url)" ng-src="{{page.photos.photoArray[2].url}}" id="photo_3" ng-show="viewed">
      </div>
      <div class="col-xs-6 height100 nmnp">
        <img src="/../../assets/images/hong_kong_skyline.png" id="photo_4" ng-click="newPage()" ng-hide="viewed">
        <img ng-click="vote(page, photo.url)" ng-src="{{page.photos.photoArray[3].url}}" id="photo_4" ng-show="viewed">
      </div>
    </div>
  </div>
</div>

<div class="col-sm-5 text-box text-align">
  <div>
    <br>
    <br>
    <h1 class="bira attraction">{{page.attraction}}</h1>
    <h2 class="bira city">{{page.city}}</h2>
    <h3>{{page.rating}}</h3>
    <h4>{{page.review1}}</h4>
    <h4>{{page.review2}}</h4>
    <p>{{page.description}}</p>
  </div>
  <div ng-hide="viewed">
    <h1 class="bira attraction">Voto</h1>
    <h2 class="bira">Crowd-curated photos of the best attractions in the most popular cities in the world</h2>
    <h3>Click on your favorite image to cast your vote</h3>
    <h3>Each time you vote you'll show you a new attraction</h3>
    <h3>The more votes the better the pictures become</h3>
    <h3>Happy travelling!</h3>  <!-- intro page. hides when clicked-->
  </div>
  <button type="button" class="btn btn-delete" ng-click="deletePage(page)" ng-show="authorized">Delete</button>
</div>



<!-- Voto: Crowd-curated photos of the best attractions in the most popular cities in the world -->