<div class="row" ng-controller="SettingsCtrl">
  <div  class="col-sm-12 height100">
    <h1 class="bira attraction">voto</h1>
    <div style="color:red">

      <form class="simple-form" ng-submit="submitAttractions(submission)" name="">
        URL: <input type="text" ng-model="submission.url" name="url" /><br><br>
        <input type="submit" id="submit" value="submit attractions" />
      </form>
      <button ng-click="clearEverything()" class="btn btn-delete">clear attractions</button>

      <button ng-hide="true" ng-click="practice('http://www.kimonolabs.com/api/43takhg6?apikey=0a1d375d04e46d6b8ff57584f2c1ddf9&kimpath1=Attractions-g60713-Activities-San_Francisco_California.html')" class="btn btn-delete">practice()</button>

      <br>
      <br>

    </div>
  </div>
  <div class="col-sm-12">
    <table id="dashboard">

      <th>City</th>
      <th>Attraction</th>
      <th>Views</th>
      <th>Hashtag</th>
      <th>*hashtag*</th>

      <th>photos</th>
      <th>p1%</th>
      <th>p2%</th>
      <th>p3%</th>
      <th>p4%</th>

      <th>Sub</th>
      <th>Del</th>
      <th>....</th>
      <form>
        <tr ng-repeat="page in pages">

          <td>{{page.city}}</td>
          <td>{{page.attraction}}</td>
          <td>{{page.views}}</td>
          <td>{{page.hashtag}}</td>
          <td><input type="text" ng-model="tempObject.hashtag"></td>

          <td ng-class="{warning: page.photos.photoArray.length < 4}">{{page.photos.photoArray.length}}</td>
          <td>{{page.photos.photoArray[0].approval}}</td>
          <td>{{page.photos.photoArray[1].approval}}</td>
          <td>{{page.photos.photoArray[2].approval}}</td>
          <td>{{page.photos.photoArray[3].approval}}</td>
          <td></td>
          <td><span class="glyphicon glyphicon-ok" ng-click="revisePage(page, tempObject)" style="color:yellow"></span></td>
          <td><span class="glyphicon glyphicon-remove" ng-click="deletePage(page)" style="color:red"></span></td>
        </tr>
      </form>
    </table>
  </div>
</div>
